.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}
