.MainPage {
  background: white;
  height: 100%;
}

.statusInfo {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
}

.searchIcon:hover {
  background: transparent;
  border: none;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
}

.subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 24px;
}

.statusInfo input[type='checkbox'] {
  position: absolute;
  left: -9999px;
}

.statusInfo span {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #363636;
}

input[type='checkbox'] + span::before {
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  background: #ff5253;
  border: transparent;
  margin-right: 8px;
  border-radius: 6px;
}

input[type='checkbox']:checked + span::after {
  position: absolute;
  content: '';
  width: 7px;
  height: 12px;
  border: 2px solid white;
  margin-left: 9px;
  border-left: none;
  border-top: none;
  border-bottom-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top-left-radius: 1px;
  transform: rotate(35deg);
  bottom: 50%;
  margin-bottom: -5px;
}

.statusInfo label {
  margin-bottom: 16px;
}

.layoutBooks {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.bookCards {
  flex-grow: 1;
}

.controlPanelBooks {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.mainControl,
.viewControl {
  display: flex;
  gap: 16px;
}

.viewTypeTileButton,
.viewTypeListButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  border: transparent;
  filter: drop-shadow(0px 2px 4px rgba(191, 196, 201, 0.2)) drop-shadow(0px 3px 4px rgba(191, 196, 201, 0.18))
    drop-shadow(0px 1px 5px rgba(191, 196, 201, 0.24));
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  background: #ffffff;
  cursor: pointer;
}

.viewTypeTileButton svg path,
.viewTypeListButton svg path {
  fill: rgb(167, 167, 167);
  transition: 0.3s fill ease-in;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.viewTypeTileButton.activeView svg path,
.viewTypeListButton.activeView svg path {
  fill: #ffffff;
}

.activeView {
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
}

.bookCards {
  margin-top: 32px;
}

.bookCardsTileView {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 22px;
}

.bookCardsListView {
  display: grid;
  height: 100%;
  gap: 16px;
}

.bookCard {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 10px;
}

.bookCardViewTile {
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px 8px 16px;
}

.bookCardViewList {
  width: 100%;
  display: grid;
  padding: 24px;
  gap: 16px;
  grid-template-columns: auto 1fr;
}

.bookCardImgViewListWrppaer,
.bookCardImgViewTileWrppaer {
  background: transparent;
  border: 1px solid #a7a7a7;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.bookCardImgViewListWrppaer {
  width: 120px;
  height: 170px;
}

.bookCardImgViewTileWrppaer {
  width: 174px;
  height: 242px;
}

.searchIcon {
  display: none;
}

.bookCardImg {
}

.button {
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  border-radius: 20px;
  padding: 11px 23px;
  border: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  min-width: 166px;
  align-self: center;
  margin-top: 19px;
}

.bookCardTitle {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #363636;
}

.bookCardTitleViewTile {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 31px;
}

.bookCardTitleViewList {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  grid-column: 1/-1;
}

.viewListWrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.bookCardRating {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #a7a7a7;
}

.bookCardRatingViewList {
  align-self: center;
  grid-row: 3;
  grid-column: 1;
}

.ratingStars {
  display: flex;
  gap: 10px;
}

.ratingStarsViewList {
  align-self: center;
  justify-self: flex-start;
  grid-row: 3;
  grid-column: 1;
}

.ratingStarsViewTile {
  margin-top: 16px;
}

.bookCardRatingViewTile {
  margin-top: 16px;
}

.bookCardAuthor {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #727272;
}

.bookCardAuthorViewList {
  grid-row: 2;
  grid-column: 1;
  margin: 0;
}

.bookCardAuthorViewTile {
  margin-top: 8px;
}

.button {
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  border-radius: 20px;
  padding: 11px 23px;
  border: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  min-width: 166px;
}

.buttonViewList {
  align-self: center;
  justify-self: end;
  grid-row: 3;
  margin: 0;
}

.buttonViewTile {
  margin-top: 19px;
  align-self: center;
}

.closeButton {
  display: none;
}

@media (max-width: 320px) {
  .bookCardsTileView {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    gap: 22px;
  }

  .searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 32px;
    height: 32px;
    border: transparent;
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
      0px 1px 5px rgba(191, 196, 201, 0.24);
  }

  .closeButton {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
    padding-right: 8px;
    border: transparent;
    background: transparent;
  }

  .closeButton:hover {
    border: transparent;
    background: transparent;
    box-shadow: none;
  }

  .controlPanelBooks {
    display: flex;
    position: relative;
  }

  .hiddenButton {
    display: none;
  }
}
